<h1>Fights</h1>
<p>Fighters...</p>
<% @fighters.each do |fighter| %>
  <img src=<%= fighter.img_url %> ><br>
  <%= fighter.id %><br>
	<%= fighter.name %><br>
  <%= fighter.rank %><br>
  <%= fighter.fight_record %><br>
  <br>
  <br>
  <br>
  <br>
  <br>
<% end %>

<% @fights.each do |fight| %>
	<%= Fighter.find(fight.fighter_one_id).name %> <%= Fighter.find(fight.fighter_one_id).rank %><br>
  <%= Fighter.find(fight.fighter_two_id).name %> <%= Fighter.find(fight.fighter_two_id).rank %><br>
  Upvotes: <%= fight.upvotes %><br>
  <br>
  <br>
  <br>
  <br>
  <br>
<% end %>
